@import "../../mixins.scss";
.genres {
    display: flex;
    gap: 5px;
    flex-flow: wrap;
    color: rgb(11, 23, 87);
    // width: 155px;
    width: 1000px;
    position: absolute;
    right: -5px;
    .genre {
        background-color: var(--pink);
        padding: 3px 5px;
        font-size: 12px;
        border-radius: 4px;
        color: white;
        white-space: nowrap;
    }
}
.DetailsComponentGenre {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    @include md {
        display: flex;
        justify-content: start;
    }
}
