.circle{
    width: 44px;
    height: 44px;
    color: red;
    position: absolute;
    bottom: -10px;
    left: 5px;
}
.circleForDetailsBanner{
    position: relative;
    display: flex;
    justify-content: center;
    top: 4px;
}